$grisOscuro: #333333;
$grisMedio: #999999;
$grisClaro: #EEEEEE;
$blanco: #FFFFFF;
$negro: #000000;
$rojo: #E2120F;

$colorTwitter: #55acee;
$colorFacebook: #45629d;
$colorGithub: black;
$colorLinkedin: #0177b5;
$colorGplus: #dd5044;

$azul: #3399CC;